<ion-view view-title="爆款列表">
    <ion-content class="padding">
        <ion-list>
            <div class="item row row-center">
                <div class="col col-34">
                    <img src="../img/wxzf_logo.png" class="image">
                </div>
                <div class="col col-66">
                    <p class="whitespacenormal productname">大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
                    <ul class="product_tab padding-top">
                        <li class="inline sel">新鲜</li>
                        <li class="inline">肉厚多汁</li>
                        <li class="inline">1000g</li>
                    </ul>

                    <img src="../img/xianshi.png" class="padding-top" style="width: auto">

                    <div>
                        <span class="price_p text-left"><i class="ion-social-yen"></i>23.8</span>
                        <button class="btn sale_btn">立即抢购</button>
                    </div>

                </div>
            </div>


            <div class="item row row-center">
                <div class="col col-34">
                    <img src="../img/ssf_logo.png" class="image">
                </div>
                <div class="col col-66">
                    <p class="whitespacenormal productname">大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
                    <ul class="product_tab padding-top">
                        <li class="inline sel">新鲜</li>
                        <li class="inline">肉厚多汁</li>
                        <li class="inline">1000g</li>
                    </ul>

                    <img src="../img/xianshi.png" class="padding-top" style="width: auto">

                    <div>
                        <span class="price_p text-left"><i class="ion-social-yen"></i>23.8</span>
                        <button class="btn sale_btn">立即抢购</button>
                    </div>
                </div>
            </div>


            <div class="item row row-center">
                <div class="col col-34">
                    <img src="../img/zfb_logo.png" class="image">
                </div>
                <div class="col col-66">
                    <p class="whitespacenormal productname">大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
                    <ul class="product_tab padding-top">
                        <li class="inline sel">新鲜</li>
                        <li class="inline">肉厚多汁</li>
                        <li class="inline">1000g</li>
                    </ul>

                    <img src="../img/xianshi.png" class="padding-top" style="width: auto">

                    <div>
                        <span class="price_p text-left"><i class="ion-social-yen"></i>23.8</span>
                        <button class="btn sale_btn">立即抢购</button>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
