<ion-view view-title="活动列表">
    <ion-content class="padding">
        <div class="list">
            <a class="item" href="#/activity/content">
                <div class="assertive" style="position: relative">
                    <img src="img/activity_Banner.jpg">

                    <p>美妆就要试出来</p>
                </div>
                <div>美妆就要试出来活动说明</div>
            </a>
            <a class="item" href="#/activity/content">
                <div class="assertive" style="position: relative">
                    <img src="img/activity_Banner.jpg">

                    <p>美妆就要试出来</p>
                </div>
                <div>美妆就要试出来活动说明</div>
            </a>
            <a class="item" href="#/activity/content">
                <div class="assertive" style="position: relative">
                    <img src="img/activity_Banner.jpg">

                    <p>美妆就要试出来</p>
                </div>
                <div>美妆就要试出来活动说明</div>
            </a>
            <a class="item" href="#/activity/content">
                <div class="assertive" style="position: relative">
                    <img src="img/activity_Banner.jpg">

                    <p>美妆就要试出来</p>
                </div>
                <div>美妆就要试出来活动说明</div>
            </a>
        </div>
    </ion-content>
</ion-view>
