<ion-view view-title="关于伙伴">
  <ion-nav-buttons side="left">
    <button ng-click="$ionicGoBack()" class="button button-clear">
      <i class="icon ion-ios-arrow-back"></i> 
      返回
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img src="img/qrCode.png">

      </div>
      <div class="item text-center">
        <h2>伙伴APP</h2>
        <br>
        <br>
        <dt>
          顺丰商业
        </dt>
      </div>
    </div>
  </ion-content>
</ion-view>
