<ion-view view-title="售后服务">
  <ion-nav-buttons side="left">
    <button ng-click="$ionicGoBack()" class="button button-clear">
      <i class="icon ion-ios-arrow-back"></i> 
      返回
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img src="img/SFheikeQrCode.jpg">
        <p class="text-center">
        售后微信公众号：SFheike
        </p>
        <button class="button button-dark button-block ">
          4008-500-500
        </button>
        <p>1、致电4008-500-500或伙伴微信公众号联系售后客服，提供订单号或收件人联系电话，即可查询相应订单并进行售后问题的处理。</p>
        <p>2、联系附近门店，由门店联系客服处理。</p>
      </div>
    </div>
  </ion-content>
</ion-view>
