<ion-view view-title="我的提成">
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button button-clear">
            <i class="icon ion-ios-arrow-back"></i>
            返回
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="Commission_div">
            <p style="padding: 25px 10px">本月提成（元）</p>

            <p class="medkit_p"><i class="ion-social-yen"></i>23.8</p>
        </div>
        <div class="market_div">

            <p style="padding: 25px 10px">本月销售（元）</p>

            <p class="medkit_p"><i class="ion-social-yen"></i>23.8</p>
        </div>
        <div style="padding: 5px 10px">
            提成会在每月工资日结算，以实际到账为准。
        </div>
    </ion-content>
</ion-view>
