<ion-view view-title="活动详情">
  <ion-nav-buttons side="left">
    <button ng-click="$ionicGoBack()" class="button button-clear">
      <i class="icon ion-ios-arrow-back"></i> 
      返回
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item">
      <img src="img/activity_Banner.jpg" style="width: 100%">
    </div>
    <div class="list">
      <ion-item class="item-thumbnail-left item-icon-right" href="#/product/1">
      <img src="cover.jpg">
      <p>大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
      <p><i class="ion-social-yen"></i>23.8</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" href="#/product/1">
      <img src="cover.jpg">
      <p>大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
      <p><i class="ion-social-yen"></i>23.8</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" href="#/product/1">
      <img src="cover.jpg">
      <p>大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
      <p><i class="ion-social-yen"></i>23.8</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" href="#/product/1">
      <img src="cover.jpg">
      <p>大洋世家oceanfamily清洁阿根廷鱿鱼200/300 48</p>
      <p><i class="ion-social-yen"></i>23.8</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
