<ion-view view-title="选择支付方式">
  <ion-nav-buttons side="right">
    <a class="button button-clear" href="#/tab/account">
      订单列表
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="item">
        订单编号：820152565235625
      </div>
      <div class="item">
        订单状态：代付款
      </div>
      <div class="item">
        订单金额：<i class="ion-social-yen"></i>23.8
      </div>
    </ion-list>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap">
        <img src="../../img/ssf_logo.png">
        <h2>顺手付支付</h2>
        <p>顺手付安全支付</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap">
        <img src="../../img/wxzf_logo.png">
        <h2>微信支付</h2>
        <p>微信安全支付</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap">
        <img src="../../img/zfb_logo.png">
        <h2>支付宝支付</h2>
        <p>支付宝安全支付</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>